<h3><strong>{{name}}</strong></h3>

<table>
<tr><th>Name</th><th>Value</th></tr>
<tr><td>compactionStrategyClass</td><td>{{compactionStrategyClass}}</td></tr>
<tr><td>gcGraceSeconds</td><td>{{gcGraceSeconds}}</td></tr>
<tr><td>readRepairChance</td><td>{{readRepairChance}}</td></tr>
<tr><td>defaultTimeToLive</td><td>{{defaultTimeToLive}}</td></tr>
<tr><td>compactionStrategyOptions</td><td>{{compactionStrategyOptions}}</td></tr>
<tr><td>bloomFilterFpChance</td><td>{{bloomFilterFpChance}}</td></tr>
<tr><td>type</td><td>{{type}}</td></tr>
</table>

