<div class="col-sm-12 col-md-12 main">
	{{textarea name=q value=q rows="3" autofocus="autofocus" class="query-field"}}
	<button {{action 'execute'}}>Execute</button>
	{{#if extract}}
		<div class="table-responsive">
		<table class="table table-striped query-results">
		<thead>
			<tr>
				{{#each col in extract.columns}}
					<th {{bind-attr class="col.type"}}>{{col.columnName}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
		{{#each row in extract.rows}}
		<tr>
			{{#each col in row.cols}}
				<td>{{col}}</td>
			{{/each}}
		</tr>
		{{/each}}
		</tbody>
		</table>
		</div>
	{{else}}
		{{#if cql_query_loading}}
			<p>Loading...</p>
		{{else}}
			<p>No result</p>
		{{/if}}
	{{/if}}
</div>
